
*{
	margin: 0; 
	padding: 0;
}

.wrapper{
	width: 1170px;
	margin: auto;
	

}






header{

	background: url("facts-bg.jpg");
	height: 100vh;
	-webkit-background-size:cover;
	background-position: center center;
	background-size: cover;
	position: relative;


}



.nav-area{
	float:right;
	list-style: none;
	font-weight: bold;
	padding-top: 20px;
	width: 42%;
	color: blue;

}


.nav-area li{

	display: inline-block;

}

.nav-area:hover{
	
}
.nav-area li a:hover {
	color: #333;
	background: #fff;
}
.nav-area li a {

	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 14px;
}


.logo{
	text-decoration:none;
	color:black;
	font-size:40px;
	font-family: big jhon;
	padding: 20px 0;
	width: 20%;
	float: left;
	font-weight: bold;
}

.welcome-text{

	position: absolute;
	width: 600px;
	height:299px;
	margin:20% 29%;
	text-align: center;
	font-weight: bold;
	color:blue;

}

.welcome-text h1{

	text-align: center;
	
	font-size: 60px;

}

.welcome-text a{

	border: 1px solid #fff;
	margin-top: 20px;
	font-size: 18px;
	display: inline-block;
	color:  #fff;
}

.welcome-text a:hover{
	background: #fff;
	color:#333;
}
